# Import library

In [2]:
import pandas as pd
import datetime 
import time
import numpy as np
import matplotlib as mp

# Import Data .csv

In [3]:
raw_df=pd.read_csv("Absenteeism-data.csv")
raw_df

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,3,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,10,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,20,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,14,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,1,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,20,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,20,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,20,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,3,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,24,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,3,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,3,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,6,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,33,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,18,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,3,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,10,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,20,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,11,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,10,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,11,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,30,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,11,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,3,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
670,14,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,28,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,36,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,22,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,1,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,29,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,25,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,34,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,5,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,22,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,15,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,29,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,26,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,29,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,22,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,36,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,36,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,34,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,36,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,22,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,23,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,17,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,14,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,25,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,15,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [4]:
list(raw_df)

['ID',
 'Reason for Absence',
 'Date',
 'Transportation Expense',
 'Distance to Work',
 'Age',
 'Daily Work Load Average',
 'Body Mass Index',
 'Education',
 'Children',
 'Pets',
 'Absenteeism Time in Hours']

# Start Coding drop columns

In [5]:
raw_df.drop(columns="ID",inplace= True)
df_group=raw_df
df_group

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
5,23,10/07/2015,179,51,38,239.554,31,1,0,0,2
6,22,17/07/2015,361,52,28,239.554,27,1,1,4,8
7,23,24/07/2015,260,50,36,239.554,23,1,4,0,4
8,19,06/07/2015,155,12,34,239.554,25,1,2,0,40
9,22,13/07/2015,235,11,37,239.554,29,3,1,1,8
10,1,20/07/2015,260,50,36,239.554,23,1,4,0,8
11,1,14/07/2015,260,50,36,239.554,23,1,4,0,8
12,11,15/07/2015,260,50,36,239.554,23,1,4,0,8
13,11,15/07/2015,179,51,38,239.554,31,1,0,0,1
14,23,15/07/2015,179,51,38,239.554,31,1,0,0,4
15,14,17/07/2015,246,25,41,239.554,23,1,0,0,8
16,23,17/07/2015,179,51,38,239.554,31,1,0,0,2
17,21,27/07/2015,179,51,38,239.554,31,1,0,0,8
18,11,30/07/2015,189,29,33,239.554,25,1,2,2,8
19,23,05/08/2015,248,25,47,205.917,32,1,2,1,2
20,10,12/08/2015,330,16,28,205.917,25,2,0,0,8
21,11,03/08/2015,179,51,38,205.917,31,1,0,0,1
22,13,10/08/2015,361,52,28,205.917,27,1,1,4,40
23,28,14/08/2015,260,50,36,205.917,23,1,4,0,4
24,18,17/08/2015,289,36,33,205.917,30,1,2,1,8
25,25,24/08/2015,361,52,28,205.917,27,1,1,4,7
26,23,04/08/2015,289,36,33,205.917,30,1,2,1,1
27,28,12/08/2015,157,27,29,205.917,22,1,0,0,4
28,18,19/08/2015,289,36,33,205.917,30,1,2,1,8
29,23,28/08/2015,179,51,38,205.917,31,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
670,28,24/04/2018,155,12,34,246.288,25,1,2,0,4
671,19,26/04/2018,225,26,28,246.288,24,1,1,2,8
672,14,26/04/2018,118,13,50,246.288,31,1,1,0,2
673,27,27/04/2018,179,26,30,246.288,19,3,0,0,2
674,22,07/05/2018,235,11,37,237.656,29,3,1,1,8
675,19,09/05/2018,225,15,41,237.656,28,4,2,2,3
676,28,09/05/2018,235,16,32,237.656,25,3,0,0,2
677,8,09/05/2018,118,10,37,237.656,28,1,0,0,3
678,26,09/05/2018,235,20,43,237.656,38,1,1,0,8
679,13,10/05/2018,179,26,30,237.656,19,3,0,0,1
680,28,10/05/2018,291,31,40,237.656,25,1,1,1,2
681,14,10/05/2018,225,15,41,237.656,28,4,2,2,8
682,19,11/05/2018,300,26,43,237.656,25,1,2,1,64
683,22,11/05/2018,225,15,41,237.656,28,4,2,2,8
684,27,11/05/2018,179,26,30,237.656,19,3,0,0,2
685,23,14/05/2018,118,13,50,237.656,31,1,1,0,2
686,5,15/05/2018,118,13,50,237.656,31,1,1,0,3
687,28,15/05/2018,118,10,37,237.656,28,1,0,0,1
688,0,15/05/2018,118,13,50,237.656,31,1,1,0,0
689,27,16/05/2018,179,26,30,237.656,19,3,0,0,2
690,0,16/05/2018,378,49,36,237.656,21,1,2,4,0
691,16,18/05/2018,179,22,40,237.656,22,2,2,0,1
692,10,21/05/2018,155,12,34,237.656,25,1,2,0,48
693,10,21/05/2018,235,16,32,237.656,25,3,0,0,8
694,22,23/05/2018,291,31,40,237.656,25,1,1,1,8
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

# Create new variables for each values in a column

In [6]:
reason_group=pd.get_dummies(df_group["Reason for Absence"])
reason_group.columns.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28])

In [7]:
reason_group
reason1=reason_group.loc[:,1:14].max(axis=1)
reason2=reason_group.loc[:,15:17].max(axis=1)
reason3=reason_group.loc[:,18:21].max(axis=1)
reason4=reason_group.loc[:,22:28].max(axis=1)
new_df=pd.concat([df_group,reason1,reason2,reason3,reason4],axis=1)
new_df

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1
5,23,10/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
6,22,17/07/2015,361,52,28,239.554,27,1,1,4,8,0,0,0,1
7,23,24/07/2015,260,50,36,239.554,23,1,4,0,4,0,0,0,1
8,19,06/07/2015,155,12,34,239.554,25,1,2,0,40,0,0,1,0
9,22,13/07/2015,235,11,37,239.554,29,3,1,1,8,0,0,0,1
10,1,20/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
11,1,14/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
12,11,15/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
13,11,15/07/2015,179,51,38,239.554,31,1,0,0,1,1,0,0,0
14,23,15/07/2015,179,51,38,239.554,31,1,0,0,4,0,0,0,1
15,14,17/07/2015,246,25,41,239.554,23,1,0,0,8,1,0,0,0
16,23,17/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
17,21,27/07/2015,179,51,38,239.554,31,1,0,0,8,0,0,1,0
18,11,30/07/2015,189,29,33,239.554,25,1,2,2,8,1,0,0,0
19,23,05/08/2015,248,25,47,205.917,32,1,2,1,2,0,0,0,1
20,10,12/08/2015,330,16,28,205.917,25,2,0,0,8,1,0,0,0
21,11,03/08/2015,179,51,38,205.917,31,1,0,0,1,1,0,0,0
22,13,10/08/2015,361,52,28,205.917,27,1,1,4,40,1,0,0,0
23,28,14/08/2015,260,50,36,205.917,23,1,4,0,4,0,0,0,1
24,18,17/08/2015,289,36,33,205.917,30,1,2,1,8,0,0,1,0
25,25,24/08/2015,361,52,28,205.917,27,1,1,4,7,0,0,0,1
26,23,04/08/2015,289,36,33,205.917,30,1,2,1,1,0,0,0,1
27,28,12/08/2015,157,27,29,205.917,22,1,0,0,4,0,0,0,1
28,18,19/08/2015,289,36,33,205.917,30,1,2,1,8,0,0,1,0
29,23,28/08/2015,179,51,38,205.917,31,1,0,0,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,28,24/04/2018,155,12,34,246.288,25,1,2,0,4,0,0,0,1
671,19,26/04/2018,225,26,28,246.288,24,1,1,2,8,0,0,1,0
672,14,26/04/2018,118,13,50,246.288,31,1,1,0,2,1,0,0,0
673,27,27/04/2018,179,26,30,246.288,19,3,0,0,2,0,0,0,1
674,22,07/05/2018,235,11,37,237.656,29,3,1,1,8,0,0,0,1
675,19,09/05/2018,225,15,41,237.656,28,4,2,2,3,0,0,1,0
676,28,09/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
677,8,09/05/2018,118,10,37,237.656,28,1,0,0,3,1,0,0,0
678,26,09/05/2018,235,20,43,237.656,38,1,1,0,8,0,0,0,1
679,13,10/05/2018,179,26,30,237.656,19,3,0,0,1,1,0,0,0
680,28,10/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1
681,14,10/05/2018,225,15,41,237.656,28,4,2,2,8,1,0,0,0
682,19,11/05/2018,300,26,43,237.656,25,1,2,1,64,0,0,1,0
683,22,11/05/2018,225,15,41,237.656,28,4,2,2,8,0,0,0,1
684,27,11/05/2018,179,26,30,237.656,19,3,0,0,2,0,0,0,1
685,23,14/05/2018,118,13,50,237.656,31,1,1,0,2,0,0,0,1
686,5,15/05/2018,118,13,50,237.656,31,1,1,0,3,1,0,0,0
687,28,15/05/2018,118,10,37,237.656,28,1,0,0,1,0,0,0,1
688,0,15/05/2018,118,13,50,237.656,31,1,1,0,0,0,0,0,0
689,27,16/05/2018,179,26,30,237.656,19,3,0,0,2,0,0,0,1
690,0,16/05/2018,378,49,36,237.656,21,1,2,4,0,0,0,0,0
691,16,18/05/2018,179,22,40,237.656,22,2,2,0,1,0,1,0,0
692,10,21/05/2018,155,12,34,237.656,25,1,2,0,48,1,0,0,0
693,10,21/05/2018,235,16,32,237.656,25,3,0,0,8,1,0,0,0
694,22,23/05/2018,291,31,40,237.656,25,1,1,1,8,0,0,0,1
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8,1,0,0,0
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3,1,0,0,0
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8,1,0,0,0
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1

In [8]:
new_df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 0, 1, 2, 3], dtype=object)

In [9]:
column_name= ['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 'Reason1', 'Reason2', 'Reason3','Reason4']
new_df.columns=column_name
C_new_df=new_df.copy()
new_df

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason1,Reason2,Reason3,Reason4
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1
5,23,10/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
6,22,17/07/2015,361,52,28,239.554,27,1,1,4,8,0,0,0,1
7,23,24/07/2015,260,50,36,239.554,23,1,4,0,4,0,0,0,1
8,19,06/07/2015,155,12,34,239.554,25,1,2,0,40,0,0,1,0
9,22,13/07/2015,235,11,37,239.554,29,3,1,1,8,0,0,0,1
10,1,20/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
11,1,14/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
12,11,15/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
13,11,15/07/2015,179,51,38,239.554,31,1,0,0,1,1,0,0,0
14,23,15/07/2015,179,51,38,239.554,31,1,0,0,4,0,0,0,1
15,14,17/07/2015,246,25,41,239.554,23,1,0,0,8,1,0,0,0
16,23,17/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
17,21,27/07/2015,179,51,38,239.554,31,1,0,0,8,0,0,1,0
18,11,30/07/2015,189,29,33,239.554,25,1,2,2,8,1,0,0,0
19,23,05/08/2015,248,25,47,205.917,32,1,2,1,2,0,0,0,1
20,10,12/08/2015,330,16,28,205.917,25,2,0,0,8,1,0,0,0
21,11,03/08/2015,179,51,38,205.917,31,1,0,0,1,1,0,0,0
22,13,10/08/2015,361,52,28,205.917,27,1,1,4,40,1,0,0,0
23,28,14/08/2015,260,50,36,205.917,23,1,4,0,4,0,0,0,1
24,18,17/08/2015,289,36,33,205.917,30,1,2,1,8,0,0,1,0
25,25,24/08/2015,361,52,28,205.917,27,1,1,4,7,0,0,0,1
26,23,04/08/2015,289,36,33,205.917,30,1,2,1,1,0,0,0,1
27,28,12/08/2015,157,27,29,205.917,22,1,0,0,4,0,0,0,1
28,18,19/08/2015,289,36,33,205.917,30,1,2,1,8,0,0,1,0
29,23,28/08/2015,179,51,38,205.917,31,1,0,0,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,28,24/04/2018,155,12,34,246.288,25,1,2,0,4,0,0,0,1
671,19,26/04/2018,225,26,28,246.288,24,1,1,2,8,0,0,1,0
672,14,26/04/2018,118,13,50,246.288,31,1,1,0,2,1,0,0,0
673,27,27/04/2018,179,26,30,246.288,19,3,0,0,2,0,0,0,1
674,22,07/05/2018,235,11,37,237.656,29,3,1,1,8,0,0,0,1
675,19,09/05/2018,225,15,41,237.656,28,4,2,2,3,0,0,1,0
676,28,09/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
677,8,09/05/2018,118,10,37,237.656,28,1,0,0,3,1,0,0,0
678,26,09/05/2018,235,20,43,237.656,38,1,1,0,8,0,0,0,1
679,13,10/05/2018,179,26,30,237.656,19,3,0,0,1,1,0,0,0
680,28,10/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1
681,14,10/05/2018,225,15,41,237.656,28,4,2,2,8,1,0,0,0
682,19,11/05/2018,300,26,43,237.656,25,1,2,1,64,0,0,1,0
683,22,11/05/2018,225,15,41,237.656,28,4,2,2,8,0,0,0,1
684,27,11/05/2018,179,26,30,237.656,19,3,0,0,2,0,0,0,1
685,23,14/05/2018,118,13,50,237.656,31,1,1,0,2,0,0,0,1
686,5,15/05/2018,118,13,50,237.656,31,1,1,0,3,1,0,0,0
687,28,15/05/2018,118,10,37,237.656,28,1,0,0,1,0,0,0,1
688,0,15/05/2018,118,13,50,237.656,31,1,1,0,0,0,0,0,0
689,27,16/05/2018,179,26,30,237.656,19,3,0,0,2,0,0,0,1
690,0,16/05/2018,378,49,36,237.656,21,1,2,4,0,0,0,0,0
691,16,18/05/2018,179,22,40,237.656,22,2,2,0,1,0,1,0,0
692,10,21/05/2018,155,12,34,237.656,25,1,2,0,48,1,0,0,0
693,10,21/05/2018,235,16,32,237.656,25,3,0,0,8,1,0,0,0
694,22,23/05/2018,291,31,40,237.656,25,1,1,1,8,0,0,0,1
695,10,23/05/2018,179,22,40,237.656,22,2,2,0,8,1,0,0,0
696,6,23/05/2018,225,26,28,237.656,24,1,1,2,3,1,0,0,0
697,10,24/05/2018,330,16,28,237.656,25,2,0,0,8,1,0,0,0
698,23,24/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
699,28,31/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1

In [10]:
new_df.drop(columns="Reason for Absence")

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason1,Reason2,Reason3,Reason4
0,07/07/2015,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14/07/2015,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16/07/2015,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23/07/2015,289,36,33,239.554,30,1,2,1,2,0,0,0,1
5,10/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
6,17/07/2015,361,52,28,239.554,27,1,1,4,8,0,0,0,1
7,24/07/2015,260,50,36,239.554,23,1,4,0,4,0,0,0,1
8,06/07/2015,155,12,34,239.554,25,1,2,0,40,0,0,1,0
9,13/07/2015,235,11,37,239.554,29,3,1,1,8,0,0,0,1
10,20/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
11,14/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
12,15/07/2015,260,50,36,239.554,23,1,4,0,8,1,0,0,0
13,15/07/2015,179,51,38,239.554,31,1,0,0,1,1,0,0,0
14,15/07/2015,179,51,38,239.554,31,1,0,0,4,0,0,0,1
15,17/07/2015,246,25,41,239.554,23,1,0,0,8,1,0,0,0
16,17/07/2015,179,51,38,239.554,31,1,0,0,2,0,0,0,1
17,27/07/2015,179,51,38,239.554,31,1,0,0,8,0,0,1,0
18,30/07/2015,189,29,33,239.554,25,1,2,2,8,1,0,0,0
19,05/08/2015,248,25,47,205.917,32,1,2,1,2,0,0,0,1
20,12/08/2015,330,16,28,205.917,25,2,0,0,8,1,0,0,0
21,03/08/2015,179,51,38,205.917,31,1,0,0,1,1,0,0,0
22,10/08/2015,361,52,28,205.917,27,1,1,4,40,1,0,0,0
23,14/08/2015,260,50,36,205.917,23,1,4,0,4,0,0,0,1
24,17/08/2015,289,36,33,205.917,30,1,2,1,8,0,0,1,0
25,24/08/2015,361,52,28,205.917,27,1,1,4,7,0,0,0,1
26,04/08/2015,289,36,33,205.917,30,1,2,1,1,0,0,0,1
27,12/08/2015,157,27,29,205.917,22,1,0,0,4,0,0,0,1
28,19/08/2015,289,36,33,205.917,30,1,2,1,8,0,0,1,0
29,28/08/2015,179,51,38,205.917,31,1,0,0,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,24/04/2018,155,12,34,246.288,25,1,2,0,4,0,0,0,1
671,26/04/2018,225,26,28,246.288,24,1,1,2,8,0,0,1,0
672,26/04/2018,118,13,50,246.288,31,1,1,0,2,1,0,0,0
673,27/04/2018,179,26,30,246.288,19,3,0,0,2,0,0,0,1
674,07/05/2018,235,11,37,237.656,29,3,1,1,8,0,0,0,1
675,09/05/2018,225,15,41,237.656,28,4,2,2,3,0,0,1,0
676,09/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
677,09/05/2018,118,10,37,237.656,28,1,0,0,3,1,0,0,0
678,09/05/2018,235,20,43,237.656,38,1,1,0,8,0,0,0,1
679,10/05/2018,179,26,30,237.656,19,3,0,0,1,1,0,0,0
680,10/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1
681,10/05/2018,225,15,41,237.656,28,4,2,2,8,1,0,0,0
682,11/05/2018,300,26,43,237.656,25,1,2,1,64,0,0,1,0
683,11/05/2018,225,15,41,237.656,28,4,2,2,8,0,0,0,1
684,11/05/2018,179,26,30,237.656,19,3,0,0,2,0,0,0,1
685,14/05/2018,118,13,50,237.656,31,1,1,0,2,0,0,0,1
686,15/05/2018,118,13,50,237.656,31,1,1,0,3,1,0,0,0
687,15/05/2018,118,10,37,237.656,28,1,0,0,1,0,0,0,1
688,15/05/2018,118,13,50,237.656,31,1,1,0,0,0,0,0,0
689,16/05/2018,179,26,30,237.656,19,3,0,0,2,0,0,0,1
690,16/05/2018,378,49,36,237.656,21,1,2,4,0,0,0,0,0
691,18/05/2018,179,22,40,237.656,22,2,2,0,1,0,1,0,0
692,21/05/2018,155,12,34,237.656,25,1,2,0,48,1,0,0,0
693,21/05/2018,235,16,32,237.656,25,3,0,0,8,1,0,0,0
694,23/05/2018,291,31,40,237.656,25,1,1,1,8,0,0,0,1
695,23/05/2018,179,22,40,237.656,22,2,2,0,8,1,0,0,0
696,23/05/2018,225,26,28,237.656,24,1,1,2,3,1,0,0,0
697,24/05/2018,330,16,28,237.656,25,2,0,0,8,1,0,0,0
698,24/05/2018,235,16,32,237.656,25,3,0,0,2,0,0,0,1
699,31/05/2018,291,31,40,237.656,25,1,1,1,2,0,0,0,1

# Adjust datetime (Get only the needed time)

In [11]:
testdate=new_df["Date"]
print(testdate)

0      07/07/2015
1      14/07/2015
2      15/07/2015
3      16/07/2015
4      23/07/2015
5      10/07/2015
6      17/07/2015
7      24/07/2015
8      06/07/2015
9      13/07/2015
10     20/07/2015
11     14/07/2015
12     15/07/2015
13     15/07/2015
14     15/07/2015
15     17/07/2015
16     17/07/2015
17     27/07/2015
18     30/07/2015
19     05/08/2015
20     12/08/2015
21     03/08/2015
22     10/08/2015
23     14/08/2015
24     17/08/2015
25     24/08/2015
26     04/08/2015
27     12/08/2015
28     19/08/2015
29     28/08/2015
          ...
670    24/04/2018
671    26/04/2018
672    26/04/2018
673    27/04/2018
674    07/05/2018
675    09/05/2018
676    09/05/2018
677    09/05/2018
678    09/05/2018
679    10/05/2018
680    10/05/2018
681    10/05/2018
682    11/05/2018
683    11/05/2018
684    11/05/2018
685    14/05/2018
686    15/05/2018
687    15/05/2018
688    15/05/2018
689    16/05/2018
690    16/05/2018
691    18/05/2018
692    21/05/2018
693    21/05/2018
694    23/05/2018
695    23/05/2018
696    23/05/2018
697    24/05/2018
698    24/05/2018
699    31/05/2018
Name: Date, Length: 700, dtype: object

In [12]:
day=[]
month=[]
dayformat="%d"
monthformat="%m"
for d in testdate :
    d = datetime.datetime.strptime(d,"%d/%m/%Y")
    day.append(datetime.date.strftime(d, dayformat ))
    month.append(datetime.date.strftime(d, monthformat))  
day = pd.DataFrame(day)
month = pd.DataFrame(month)
print(day)
print(month)

      0
0    07
1    14
2    15
3    16
4    23
5    10
6    17
7    24
8    06
9    13
10   20
11   14
12   15
13   15
14   15
15   17
16   17
17   27
18   30
19   05
20   12
21   03
22   10
23   14
24   17
25   24
26   04
27   12
28   19
29   28
..   ..
670  24
671  26
672  26
673  27
674  07
675  09
676  09
677  09
678  09
679  10
680  10
681  10
682  11
683  11
684  11
685  14
686  15
687  15
688  15
689  16
690  16
691  18
692  21
693  21
694  23
695  23
696  23
697  24
698  24
699  31

[700 rows x 1 columns]
      0
0    07
1    07
2    07
3    07
4    07
5    07
6    07
7    07
8    07
9    07
10   07
11   07
12   07
13   07
14   07
15   07
16   07
17   07
18   07
19   08
20   08
21   08
22   08
23   08
24   08
25   08
26   08
27   08
28   08
29   08
..   ..
670  04
671  04
672  04
673  04
674  05
675  05
676  05
677  05
678  05
679  05
680  05
681  05
682  05
683  05
684  05
685  05
686  05
687  05
688  05
689  05
690  05
691  05
692  05
693  05
694  05
695  05
696  05
697  05
698  05
699  05

[700 rows x 1 columns]

In [13]:
new_df=pd.concat([new_df,day,month],axis=1)

In [14]:
new_df.columns.values

array(['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 'Reason1', 'Reason2', 'Reason3',
       'Reason4', 0, 0], dtype=object)

In [15]:
new_df.columns= ['Reason for Absence', 'Date', 'Transportation Expense',
       'Distance to Work', 'Age', 'Daily Work Load Average',
       'Body Mass Index', 'Education', 'Children', 'Pets',
       'Absenteeism Time in Hours', 'Reason1', 'Reason2', 'Reason3',
       'Reason4', 'Day of week', 'Month value']
new_df.drop(columns='Date',inplace=True)

In [16]:
D_new_df=new_df.copy()
new_df

,Reason for Absence,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason1,Reason2,Reason3,Reason4,Day of week,Month value
0,26,289,36,33,239.554,30,1,2,1,4,0,0,0,1,07,07
1,0,118,13,50,239.554,31,1,1,0,0,0,0,0,0,14,07
2,23,179,51,38,239.554,31,1,0,0,2,0,0,0,1,15,07
3,7,279,5,39,239.554,24,1,2,0,4,1,0,0,0,16,07
4,23,289,36,33,239.554,30,1,2,1,2,0,0,0,1,23,07
5,23,179,51,38,239.554,31,1,0,0,2,0,0,0,1,10,07
6,22,361,52,28,239.554,27,1,1,4,8,0,0,0,1,17,07
7,23,260,50,36,239.554,23,1,4,0,4,0,0,0,1,24,07
8,19,155,12,34,239.554,25,1,2,0,40,0,0,1,0,06,07
9,22,235,11,37,239.554,29,3,1,1,8,0,0,0,1,13,07
10,1,260,50,36,239.554,23,1,4,0,8,1,0,0,0,20,07
11,1,260,50,36,239.554,23,1,4,0,8,1,0,0,0,14,07
12,11,260,50,36,239.554,23,1,4,0,8,1,0,0,0,15,07
13,11,179,51,38,239.554,31,1,0,0,1,1,0,0,0,15,07
14,23,179,51,38,239.554,31,1,0,0,4,0,0,0,1,15,07
15,14,246,25,41,239.554,23,1,0,0,8,1,0,0,0,17,07
16,23,179,51,38,239.554,31,1,0,0,2,0,0,0,1,17,07
17,21,179,51,38,239.554,31,1,0,0,8,0,0,1,0,27,07
18,11,189,29,33,239.554,25,1,2,2,8,1,0,0,0,30,07
19,23,248,25,47,205.917,32,1,2,1,2,0,0,0,1,05,08
20,10,330,16,28,205.917,25,2,0,0,8,1,0,0,0,12,08
21,11,179,51,38,205.917,31,1,0,0,1,1,0,0,0,03,08
22,13,361,52,28,205.917,27,1,1,4,40,1,0,0,0,10,08
23,28,260,50,36,205.917,23,1,4,0,4,0,0,0,1,14,08
24,18,289,36,33,205.917,30,1,2,1,8,0,0,1,0,17,08
25,25,361,52,28,205.917,27,1,1,4,7,0,0,0,1,24,08
26,23,289,36,33,205.917,30,1,2,1,1,0,0,0,1,04,08
27,28,157,27,29,205.917,22,1,0,0,4,0,0,0,1,12,08
28,18,289,36,33,205.917,30,1,2,1,8,0,0,1,0,19,08
29,23,179,51,38,205.917,31,1,0,0,2,0,0,0,1,28,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,28,155,12,34,246.288,25,1,2,0,4,0,0,0,1,24,04
671,19,225,26,28,246.288,24,1,1,2,8,0,0,1,0,26,04
672,14,118,13,50,246.288,31,1,1,0,2,1,0,0,0,26,04
673,27,179,26,30,246.288,19,3,0,0,2,0,0,0,1,27,04
674,22,235,11,37,237.656,29,3,1,1,8,0,0,0,1,07,05
675,19,225,15,41,237.656,28,4,2,2,3,0,0,1,0,09,05
676,28,235,16,32,237.656,25,3,0,0,2,0,0,0,1,09,05
677,8,118,10,37,237.656,28,1,0,0,3,1,0,0,0,09,05
678,26,235,20,43,237.656,38,1,1,0,8,0,0,0,1,09,05
679,13,179,26,30,237.656,19,3,0,0,1,1,0,0,0,10,05
680,28,291,31,40,237.656,25,1,1,1,2,0,0,0,1,10,05
681,14,225,15,41,237.656,28,4,2,2,8,1,0,0,0,10,05
682,19,300,26,43,237.656,25,1,2,1,64,0,0,1,0,11,05
683,22,225,15,41,237.656,28,4,2,2,8,0,0,0,1,11,05
684,27,179,26,30,237.656,19,3,0,0,2,0,0,0,1,11,05
685,23,118,13,50,237.656,31,1,1,0,2,0,0,0,1,14,05
686,5,118,13,50,237.656,31,1,1,0,3,1,0,0,0,15,05
687,28,118,10,37,237.656,28,1,0,0,1,0,0,0,1,15,05
688,0,118,13,50,237.656,31,1,1,0,0,0,0,0,0,15,05
689,27,179,26,30,237.656,19,3,0,0,2,0,0,0,1,16,05
690,0,378,49,36,237.656,21,1,2,4,0,0,0,0,0,16,05
691,16,179,22,40,237.656,22,2,2,0,1,0,1,0,0,18,05
692,10,155,12,34,237.656,25,1,2,0,48,1,0,0,0,21,05
693,10,235,16,32,237.656,25,3,0,0,8,1,0,0,0,21,05
694,22,291,31,40,237.656,25,1,1,1,8,0,0,0,1,23,05
695,10,179,22,40,237.656,22,2,2,0,8,1,0,0,0,23,05
696,6,225,26,28,237.656,24,1,1,2,3,1,0,0,0,23,05
697,10,330,16,28,237.656,25,2,0,0,8,1,0,0,0,24,05
698,23,235,16,32,237.656,25,3,0,0,2,0,0,0,1,24,05
699,28,291,31,40,237.656,25,1,1,1,2,0,0,0,1,31,05

# Change values in column

In [17]:
x=[]
for d in new_df["Education"] :
    if d==1 :
        x.append(0)
    if d>1 :
        x.append(1) 
Education=pd.DataFrame(x,columns=['Education'])
Education

     Education
0            0
1            0
2            0
3            0
4            0
5            0
6            0
7            0
8            0
9            1
10           0
11           0
12           0
13           0
14           0
15           0
16           0
17           0
18           0
19           0
20           1
21           0
22           0
23           0
24           0
25           0
26           0
27           0
28           0
29           0
..         ...
670          0
671          0
672          0
673          1
674          1
675          1
676          1
677          0
678          0
679          1
680          0
681          1
682          0
683          1
684          1
685          0
686          0
687          0
688          0
689          1
690          0
691          1
692          0
693          1
694          0
695          1
696          0
697          1
698          1
699          0

[700 rows x 1 columns]

In [18]:
new_df.drop(columns='Education',inplace=True)
new_df=pd.concat([new_df,Education],axis=1)
new_df

,Reason for Absence,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Children,Pets,Absenteeism Time in Hours,Reason1,Reason2,Reason3,Reason4,Day of week,Month value,Education
0,26,289,36,33,239.554,30,2,1,4,0,0,0,1,07,07,0
1,0,118,13,50,239.554,31,1,0,0,0,0,0,0,14,07,0
2,23,179,51,38,239.554,31,0,0,2,0,0,0,1,15,07,0
3,7,279,5,39,239.554,24,2,0,4,1,0,0,0,16,07,0
4,23,289,36,33,239.554,30,2,1,2,0,0,0,1,23,07,0
5,23,179,51,38,239.554,31,0,0,2,0,0,0,1,10,07,0
6,22,361,52,28,239.554,27,1,4,8,0,0,0,1,17,07,0
7,23,260,50,36,239.554,23,4,0,4,0,0,0,1,24,07,0
8,19,155,12,34,239.554,25,2,0,40,0,0,1,0,06,07,0
9,22,235,11,37,239.554,29,1,1,8,0,0,0,1,13,07,1
10,1,260,50,36,239.554,23,4,0,8,1,0,0,0,20,07,0
11,1,260,50,36,239.554,23,4,0,8,1,0,0,0,14,07,0
12,11,260,50,36,239.554,23,4,0,8,1,0,0,0,15,07,0
13,11,179,51,38,239.554,31,0,0,1,1,0,0,0,15,07,0
14,23,179,51,38,239.554,31,0,0,4,0,0,0,1,15,07,0
15,14,246,25,41,239.554,23,0,0,8,1,0,0,0,17,07,0
16,23,179,51,38,239.554,31,0,0,2,0,0,0,1,17,07,0
17,21,179,51,38,239.554,31,0,0,8,0,0,1,0,27,07,0
18,11,189,29,33,239.554,25,2,2,8,1,0,0,0,30,07,0
19,23,248,25,47,205.917,32,2,1,2,0,0,0,1,05,08,0
20,10,330,16,28,205.917,25,0,0,8,1,0,0,0,12,08,1
21,11,179,51,38,205.917,31,0,0,1,1,0,0,0,03,08,0
22,13,361,52,28,205.917,27,1,4,40,1,0,0,0,10,08,0
23,28,260,50,36,205.917,23,4,0,4,0,0,0,1,14,08,0
24,18,289,36,33,205.917,30,2,1,8,0,0,1,0,17,08,0
25,25,361,52,28,205.917,27,1,4,7,0,0,0,1,24,08,0
26,23,289,36,33,205.917,30,2,1,1,0,0,0,1,04,08,0
27,28,157,27,29,205.917,22,0,0,4,0,0,0,1,12,08,0
28,18,289,36,33,205.917,30,2,1,8,0,0,1,0,19,08,0
29,23,179,51,38,205.917,31,0,0,2,0,0,0,1,28,08,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,28,155,12,34,246.288,25,2,0,4,0,0,0,1,24,04,0
671,19,225,26,28,246.288,24,1,2,8,0,0,1,0,26,04,0
672,14,118,13,50,246.288,31,1,0,2,1,0,0,0,26,04,0
673,27,179,26,30,246.288,19,0,0,2,0,0,0,1,27,04,1
674,22,235,11,37,237.656,29,1,1,8,0,0,0,1,07,05,1
675,19,225,15,41,237.656,28,2,2,3,0,0,1,0,09,05,1
676,28,235,16,32,237.656,25,0,0,2,0,0,0,1,09,05,1
677,8,118,10,37,237.656,28,0,0,3,1,0,0,0,09,05,0
678,26,235,20,43,237.656,38,1,0,8,0,0,0,1,09,05,0
679,13,179,26,30,237.656,19,0,0,1,1,0,0,0,10,05,1
680,28,291,31,40,237.656,25,1,1,2,0,0,0,1,10,05,0
681,14,225,15,41,237.656,28,2,2,8,1,0,0,0,10,05,1
682,19,300,26,43,237.656,25,2,1,64,0,0,1,0,11,05,0
683,22,225,15,41,237.656,28,2,2,8,0,0,0,1,11,05,1
684,27,179,26,30,237.656,19,0,0,2,0,0,0,1,11,05,1
685,23,118,13,50,237.656,31,1,0,2,0,0,0,1,14,05,0
686,5,118,13,50,237.656,31,1,0,3,1,0,0,0,15,05,0
687,28,118,10,37,237.656,28,0,0,1,0,0,0,1,15,05,0
688,0,118,13,50,237.656,31,1,0,0,0,0,0,0,15,05,0
689,27,179,26,30,237.656,19,0,0,2,0,0,0,1,16,05,1
690,0,378,49,36,237.656,21,2,4,0,0,0,0,0,16,05,0
691,16,179,22,40,237.656,22,2,0,1,0,1,0,0,18,05,1
692,10,155,12,34,237.656,25,2,0,48,1,0,0,0,21,05,0
693,10,235,16,32,237.656,25,0,0,8,1,0,0,0,21,05,1
694,22,291,31,40,237.656,25,1,1,8,0,0,0,1,23,05,0
695,10,179,22,40,237.656,22,2,0,8,1,0,0,0,23,05,1
696,6,225,26,28,237.656,24,1,2,3,1,0,0,0,23,05,0
697,10,330,16,28,237.656,25,0,0,8,1,0,0,0,24,05,1
698,23,235,16,32,237.656,25,0,0,2,0,0,0,1,24,05,1
699,28,291,31,40,237.656,25,1,1,2,0,0,0,1,31,05,0

In [19]:
new_df.columns.values

array(['Reason for Absence', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index', 'Children',
       'Pets', 'Absenteeism Time in Hours', 'Reason1', 'Reason2',
       'Reason3', 'Reason4', 'Day of week', 'Month value', 'Education'],
      dtype=object)

# Change the order of column

In [22]:
cols=['Reason1', 'Reason2','Reason3', 'Reason4', 'Month value', 'Day of week', 'Transportation Expense', 'Distance to Work',
       'Age', 'Daily Work Load Average', 'Body Mass Index','Education', 'Children',
       'Pets', 'Absenteeism Time in Hours' ]

ending_df=new_df[cols]
ending_df

,Reason1,Reason2,Reason3,Reason4,Month value,Day of week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07,07,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,07,14,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,07,15,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,07,16,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,07,23,289,36,33,239.554,30,0,2,1,2
5,0,0,0,1,07,10,179,51,38,239.554,31,0,0,0,2
6,0,0,0,1,07,17,361,52,28,239.554,27,0,1,4,8
7,0,0,0,1,07,24,260,50,36,239.554,23,0,4,0,4
8,0,0,1,0,07,06,155,12,34,239.554,25,0,2,0,40
9,0,0,0,1,07,13,235,11,37,239.554,29,1,1,1,8
10,1,0,0,0,07,20,260,50,36,239.554,23,0,4,0,8
11,1,0,0,0,07,14,260,50,36,239.554,23,0,4,0,8
12,1,0,0,0,07,15,260,50,36,239.554,23,0,4,0,8
13,1,0,0,0,07,15,179,51,38,239.554,31,0,0,0,1
14,0,0,0,1,07,15,179,51,38,239.554,31,0,0,0,4
15,1,0,0,0,07,17,246,25,41,239.554,23,0,0,0,8
16,0,0,0,1,07,17,179,51,38,239.554,31,0,0,0,2
17,0,0,1,0,07,27,179,51,38,239.554,31,0,0,0,8
18,1,0,0,0,07,30,189,29,33,239.554,25,0,2,2,8
19,0,0,0,1,08,05,248,25,47,205.917,32,0,2,1,2
20,1,0,0,0,08,12,330,16,28,205.917,25,1,0,0,8
21,1,0,0,0,08,03,179,51,38,205.917,31,0,0,0,1
22,1,0,0,0,08,10,361,52,28,205.917,27,0,1,4,40
23,0,0,0,1,08,14,260,50,36,205.917,23,0,4,0,4
24,0,0,1,0,08,17,289,36,33,205.917,30,0,2,1,8
25,0,0,0,1,08,24,361,52,28,205.917,27,0,1,4,7
26,0,0,0,1,08,04,289,36,33,205.917,30,0,2,1,1
27,0,0,0,1,08,12,157,27,29,205.917,22,0,0,0,4
28,0,0,1,0,08,19,289,36,33,205.917,30,0,2,1,8
29,0,0,0,1,08,28,179,51,38,205.917,31,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,04,24,155,12,34,246.288,25,0,2,0,4
671,0,0,1,0,04,26,225,26,28,246.288,24,0,1,2,8
672,1,0,0,0,04,26,118,13,50,246.288,31,0,1,0,2
673,0,0,0,1,04,27,179,26,30,246.288,19,1,0,0,2
674,0,0,0,1,05,07,235,11,37,237.656,29,1,1,1,8
675,0,0,1,0,05,09,225,15,41,237.656,28,1,2,2,3
676,0,0,0,1,05,09,235,16,32,237.656,25,1,0,0,2
677,1,0,0,0,05,09,118,10,37,237.656,28,0,0,0,3
678,0,0,0,1,05,09,235,20,43,237.656,38,0,1,0,8
679,1,0,0,0,05,10,179,26,30,237.656,19,1,0,0,1
680,0,0,0,1,05,10,291,31,40,237.656,25,0,1,1,2
681,1,0,0,0,05,10,225,15,41,237.656,28,1,2,2,8
682,0,0,1,0,05,11,300,26,43,237.656,25,0,2,1,64
683,0,0,0,1,05,11,225,15,41,237.656,28,1,2,2,8
684,0,0,0,1,05,11,179,26,30,237.656,19,1,0,0,2
685,0,0,0,1,05,14,118,13,50,237.656,31,0,1,0,2
686,1,0,0,0,05,15,118,13,50,237.656,31,0,1,0,3
687,0,0,0,1,05,15,118,10,37,237.656,28,0,0,0,1
688,0,0,0,0,05,15,118,13,50,237.656,31,0,1,0,0
689,0,0,0,1,05,16,179,26,30,237.656,19,1,0,0,2
690,0,0,0,0,05,16,378,49,36,237.656,21,0,2,4,0
691,0,1,0,0,05,18,179,22,40,237.656,22,1,2,0,1
692,1,0,0,0,05,21,155,12,34,237.656,25,0,2,0,48
693,1,0,0,0,05,21,235,16,32,237.656,25,1,0,0,8
694,0,0,0,1,05,23,291,31,40,237.656,25,0,1,1,8
695,1,0,0,0,05,23,179,22,40,237.656,22,1,2,0,8
696,1,0,0,0,05,23,225,26,28,237.656,24,0,1,2,3
697,1,0,0,0,05,24,330,16,28,237.656,25,1,0,0,8
698,0,0,0,1,05,24,235,16,32,237.656,25,1,0,0,2
699,0,0,0,1,05,31,291,31,40,237.656,25,0,1,1,2

# Export table from dataframe

In [24]:
ending_df.to_csv("Absent_preprosessing.csv",index=False)